@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;900&display=swap');
body{
    height: 100vh;
    margin: 0;
    font-family:'Poppins','arial';
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}
#nav-list{
    display: flex;
}
a{
    display: block;
    text-decoration: none;
    color: white;
    padding: 0 1em;

}
img{
    width: 70%;
}
.nav-container{
    background-color: #6700EE;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 2em;
    
}
.logo{
    color: #00F7FF;
    font-weight: bold;
}

.social-header, .hero-design{
    display: none;
}
.hero{
    background-color: #6E00FF;
    color: white;
    display: grid;
    text-align: center;
    padding: 4em;

}
.meet{
    display: flex;
    margin: 0 auto;
    text-align: center;
    width: 200px;
    font-weight: bold;
    color: #FF64CB;
    padding-left: 55PX;
}
span{
    text-align: center;
    margin-top: 1em;
    margin-right: .5em;
}
.scroll{
    width: 30px;
    margin-top: 1em;
    margin-right: .5em;
}
section{
    padding: 4em 2em;
    text-align: center;
}
.featured{
    position: relative;
}
.featured::before{
    content: "";
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: #E5D5FA;
    top: 0;
    left: 0;
    padding: 1%;
    margin: 0px;
    z-index: -1;
}
.subtitle{
    text-transform: uppercase;
    font-weight: bold;
    color: #6E00FF;
    letter-spacing: .2em;
    font-size: .85em;
}
.featured-title{
    color: black;
    font-weight: bold;
    font-size: 1.3em;
    margin-top: -.4em;
    display: block;
}
.right transition2{
    width: 400px;
    height: 400px;
    display: block;
    z-index: 1;
    margin: 0;
    padding: 0;
}
.featured-desc{
    color: #3b3b3b;
    margin-bottom: 3em;
    font-size: .85em;
    line-height: 1.8em;
    font-weight: 500;
}
.skills{
    background: #FF64CB;
}
.skills-container ul li {
background: white;
padding: 2em;
border-radius: 1em;
margin-bottom: 1em;


}

.icon-container{
    height: 100px;
    display: grid;
    place-content:center;
    margin: 0 auto;
   width: 120px;
   padding-left: 30px;
}

.recentExp{
    background: #F7F7F7;
}
@media only screen and (min-width: 800px){
    .featured, .recentExp{
        text-align: left;
    }
    .featured, .portfolio-container{
        display:-moz-grid-line;
        grid-template-columns:40% auto ;
    }
    .left, .portfolio-left{
        display: grid;
        place-content: center;
        width: 50%;
    }
    .right{
        text-align: right;
        margin-left: 0em;
        margin-top: -150px;
        
    }
    .transition2{
        height: 280px;
        width: 330px;
    }
    .skills{
        margin-top: -5em;
        margin-bottom: 0em;
        padding-top: 4em;
    }
    .skills-container ul{
        display: grid;
        grid-template-columns: repeat(3,auto);
        grid-gap: 1em;
        margin-bottom: -7em;
        
    }
    .skill{
        width: 70%;
    }
    .recentExp{
        padding-top: 6em;
        
    }
    .portfolio-container img{
        
    
        width: 50%;
        height: 60%;
        margin-top: -230px;
        margin-left: 25em;
        
    }
    .portfolio-left{
        width: 40%;
        margin: 0px;
    }
}

@media only screen and (min-width: 1050px){
    .hero{
        height: 90vh;
    }
    .nav-container{
        display: grid;
        grid-template-columns: 66% auto;
        background: unset;
        
    }
    header {
        background: #6700EE;
        padding: 2em 2em 2em 4em;
    }
    section{
        padding: 4em;
    }
    .social-header{
        padding: 2em 4em 2em 0;
        display: block;
    }
    
    .social-header ul{
        display: flex;
        justify-content: space-between;
        width: 15em;
        float: right;
        padding-left: 110px;
    }
    .hero{
        display: grid;
        grid-template-columns: 66% auto;
        background: unset;
        padding: 0;
        
    }
    .content{
        background: #6E00FF;
        padding: 6em 8em 6em 4em;
    }
    .content h1{
        font-size: 3em;
        line-height: 1.2em;
    }
    .hero-design{
        display: unset;
        margin-left: -50%;
        margin-top: 15%;
        width: 100%;
    }
    
    .portfolio-container img{
        float: right;
        max-width: 500px;
        padding: 1em 1em 1em 1em;
        border-radius: 8%;
    }
}
@media only screen and (min-width: 1250px){
    header{
        padding: 2em 2em 2em 10em;
    }
    .social-header{
        padding: 2em 10em 2em 0;
    }
    section{
        padding: 6em 10em 4em 10em;
    }
    .hero .content{
        padding: 6em 8em 6em 10em;
    }
    #featuredImg{
        width: 460px;
        height: 300px;
        padding: 0;
    }
    .featured-desc{
        font-size: 1em;
    }
    .meet{
        font-size: 1.5em;
   
}
@media only screen and (min-width: 1550px){
    header{
        padding: 2em 2em 2em 20em;
    }
    .social-header{
        padding: 2em 20em 2em 0;
    }
    section{
        padding: 6em 20em 4em 20em;
    }
    .hero .content{
        padding: 9em 20em 6em 20em;
    }
    #featuredImg{
        width: 650px;
        height: 490px;
        padding: 0;
    }
    .skill{
        width: 300px;
        text-align: center;
    }
}

.circle{
   animation: circleAnimation 1s infinite alternate-reverse;
   
}
@keyframes circleAnimation{
    to{
        transform: translate(0px, 50px);
        z-index: 5;
    }
   
}
